<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ordermenu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.MenuAvailableActivity"
            android:label="@string/Menu_list" />
        <activity
            android:name=".UI.OrderHistoryActivity"
            android:label="@string/orders" />
        <activity
            android:name=".UI.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".UI.OrderActivity"
            android:label="@string/order" />
        <activity
            android:name=".UI.MenuActivity"
            android:label="@string/menu" />
        <activity android:name=".UI.TablesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>